 <div class="container">
  <div class="row justify-content-center">
    <div class="col-8" style="padding: 50px 0;">
    	<h4>
    		<% if !local_assigns[:title].nil? %>
    			<%= title %>
    		<% end %>
    	</h4>

    	<% if !local_assigns[:sub_title].nil? %>
  			<h6><%= sub_title %></h6>
  		<% end %>

    	<hr>
      <%= yield %>
    </div>
  </div>
</div>