<div class="alert alert-success" role="alert">
  Merci pour vos réponses.<br/>
  Vos données sont en cours d'analyse par l'équipe médicale qui prendra contact rapidement avec vous.<br/>
  <strong>En cas de problème urgent, contactez le +33 7 57 91 69 11.</strong>
</div>