<div class="alert alert-success" role="alert">
  Merci pour vos réponses.<br/>
  Les symptômes que vous avez décrits ne sont pas inquiétants, mais justifient néanmoins une surveillance un peu plus rapprochée. Vous recevrez un nouveau questionnaire dans 12h.<br/>
  <strong>En cas de problème, contactez le +33 7 57 91 69 11.</strong>
</div>