<div class="alert alert-success" role="alert">
  Merci pour vos réponses.<br/>
  Les données que vous avez renseignées sont rassurantes. Vous recevrez un nouveau questionnaire dans 24h.<br/>
  <strong>En cas de problème, contactez le +33 7 57 91 69 11.</strong>
</div>