<%= render layout: '/shared/public_forms_outside_active_admin', locals: {title: "Questionnaire récurrent"} do %>
  <div class="alert alert-warning" role="alert">
    Ce questionnaire n'existe pas ou a déjà été rempli.
  </div>
<% end %>